@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --text-main: #1c252e;
    --text-secondary: #637381;
    --text-active: #00a76f;
}

body {
    margin: 0;
    color: var(--text-main);
    background: var(--background);
}
